<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>php blog</title>

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="assets/css/normalize.css">

    <!-- Scripts -->
    <script src="assets/js/jquery-3.1.1.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

</head>

<body>
        <div class="page-header"></div>
        <div class="page-content">
            <div class="row">
                <div class="page_margin" class="col-md-*"></div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="tab-content">
                        <div class="tab-pane fade in active">
                            <h1> hello <h1>
                            <p>
                            {{ mind }}
                            </p>
                            <form action="/posts" method="post">
                                <input id="post" name="post" type="text"></input>
                                <input type="submit">Submit</input>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <div class="row">
                <div class="page_margin" class="col-md-*"></div>
            </div>
        </div>
    </div>
</body>
</html>