@font-face {
    font-family: Amin;
    src: url('/fonts/amin fonts/Amin Font Regular_1.otf');

}

body {
    background-image: linear-gradient(180deg, #871e19, #5d1815);
    background-image: url('/images/main_b.jpg');
    background-repeat: no-repeat;;
    background-size: cover;
}

.container1{
    /*margin-top: -10px;*/
    padding: 0px;
    /*background-image: url("../../images/page-template-content/repetitive.jpg");
    height: auto;*/
}

.header {
    padding: 17px 0px 0px 23px;
    color: white;
    font-family: Amin;
    font-size: 26px;
    height: 198px;
    background-color: #1f1f1f;
    -moz-box-shadow:    inset 0 0 15px #000000;
    -webkit-box-shadow: inset 0 0 15px #000000;
    box-shadow:         inset 0 0 15px #000000;
}

.webpage-inline-block {
    display: inline-block;
}

.logo{
    padding: 0px;
    margin: 0px;
    margin-bottom: -45px;
    margin-left: -15px;
}

.vertical_line {
    margin-bottom: -60px;
    width: 4px;
    height: 80px;
    background-color: #5d1815;
    border: 1px solid #5d1815;
    border-radius: 7px 7px 7px 7px;
}

.webpage-title-descrption {
    padding-right: 18px;
    justify-content: center;
}

.webpage-title {
    float: right;
}

.webpage-description {
    float: right;
}

a {
    color: white;
}

.page-header {
    /*background-color: red;*/
    /*background-image: url("../../images/page-template-content/header.png");*/
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0px;
    margin-top: -5px;
    /*margin-bottom: -15px;*/
    /*width: 200px;*/
}

.page-footer {
    /*background-color: red;*/
    padding: 150px;
    /*z-index: -1;*/
    /*background-image: url("../../images/page-template-content/footer.jpg");*/
    height: auto;
    width: auto;
}

.row {
    float: right;
    padding-top: 30px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 0px;
}

.page-content {
    /*background-image: url("../../images/page-template-content/repetitive.jpg");*/
    background-repeat: repeat;
    height: 500px;
    width: auto;
}

.nav-tabs > li {
    float: right;
    margin-top: -34px;
}

/*the active tab*/
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-image: linear-gradient(180deg, #871e19, #5d1815);
    border: 1px solid #5d1815;
    color: inherit;

    margin-top: -9px;
    font-size: 24px;

    box-shadow: 1px -3px 12px #141414;

    padding-top : 5px;
    padding-bottom : 2px;
}

/*tab hover*/
.nav-tabs > li > a:hover {
    background-image: linear-gradient(180deg, #4c1311, #2c0b09);
    border: 1px solid #2c0b09;
    color: white;
}

.nav-tabs > li > a {
    background-image: linear-gradient(180deg, #3d3d3d, #362828);
    border: 1px solid #362828;
    padding-right: 50px;
    padding-left : 50px;
    padding-top : 2px;
    padding-bottom : 2px;
    border-radius: 8px 8px 0px 0px;
    margin-top: -3px;
    margin-bottom: 5px;
}

.nav-tabs
{
    color: white;
    font-family: Amin;
    font-size: 22px;
    border-bottom: 0px;
    margin-top: 0px;
}

/* pages */
.tab-content {
    color: white;
    margin: 20px;
    font-family: Amin;
    width: auto;
}