.table > thead > tr > th {
  background-color: rgba(38,38,38,50);
  margin-top: 10px;
  text-align: center;
}

.table > tbody > tr > td {
  text-align: center;
  margin-top: 10px;

}

.table > tbody > tr {
  background-color: none;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: rgba(38,38,38,50);
}

#search {
}

#id {
  float: right;
}

#name {
  float: right;
}

#yr {
  float: right;
}

#college {
  float: right;
}

#dept {
  float: right;
}

#kawmy {
  float: right;
}

#age {
  float: right;
}

#nateega {
  float: right;
}

#e3fa {
  float: right;
}

.form-group{
position: relative;
right: 250px;


}
