.dawrat{

	background-color: #1e232b;
	border:none;
	width: 160px;
	box-shadow: 1px;
}

.dawrat:hover{

	background-color: #1e232b;
}



.btn_left,.btn_right{

	background-color:#1e232b;
	border: none;
	width: 35px;
	height: 35px;
	border-radius: 100%;
	font-weight: bold;; 
	outline: none;


}

#year_dawra{
width: 150px;
	display: inline;;
	font-weight: bold;
	font-size: 20px;
	margin: 0 10px;


}

.top_drop{

margin-top: 20px;
}

.colleges .btn-danger{
	border: none;
	background-color: #303030;
	outline: none;
	margin:2px 5px;
}

.h{

border: none;
	background-color: #303030;
	outline: none;
	margin:2px 5px;

}
.btn-danger:active:hover, .btn-danger.active:hover, .open > .dropdown-toggle.btn-danger:hover, 
.btn-danger:active:focus, .btn-danger.active:focus, .open > .dropdown-toggle.btn-danger:focus, 
.btn-danger:active.focus, .btn-danger.active.focus, .open > .dropdown-toggle.btn-danger.focus

{
	background-color: red;

}
.btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger{

background-color: red;


}

.button{
margin: 6px;

}


#content-b .dropdown{

margin: 10px;
position: relative;;
right: 50%;

}

#content-b{

}

.from ,.to{
position: relative;
left: 100px;


}