@font-face {
    font-family: Amin;
    src: url('/fonts/amin fonts/Amin Font Regular_1.otf');
}

.login-page-header {
}

.login-header-background {
    /*max-height: 160px;
    min-height: 160px;*/
    /*height: fit-content;*/
    /*background-image: url("../../images/page-header/seemless\ header.jpg");*/
    /*background-repeat: repeat-x;*/
    /*padding-top: 80px;*/
    /*padding-bottom: 80px;*/
}

.background-header-img {
    background-image: url("../../images/page-header/seemless\ header.jpg");
    background-repeat: repeat-x;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    /*padding: 10px;*/
    padding: 10px 0px 10px 0px;
    margin: 0px;
}

#header-img {
    height: fit-content;
    /*padding: 0px 0px 10px 0px;*/
    padding: 19px 0px 19px 0px;
    /*margin-top: 40px;*/
    /*height: auto;*/
    /*height: fit-content;*/
    /*display: table;*/
    /*vertical-align: center;*/
    /*text-align: center;*/
    /*background-image: url("../../images/page-header/seemless\ header.jpg");
    background-repeat: repeat-x;*/
}

#seemless-header-img {
    /*background-repeat: repeat;*/
}

body {
    background-color: #871e19;
    font-family: Amin;
}

.login{
    width: 403px;
    height:  288px;
    /*border: 2px solid #000;*/
    /*background-image: linear-gradient(180deg, rgba(61, 61, 61, 0.65), rgba(54, 40, 40, 0.65));*/
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    margin-left: 33%;
    /*border: 1px solid rgba(0, 0, 0, 0.3);*/

    /*-moz-box-shadow:    -2px 2px 5px 1px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: -2px 2px 5px 1px rgba(0, 0, 0, 0.6);
    box-shadow:         -2px 2px 5px 1px rgba(0, 0, 0, 0.6);*/
}

.email, .password{
    width: 300px;
    height: 40px;
    color: #FFF;
    font-family: inherit;
    background-color: #323131;
    -moz-box-shadow:    inset 0 0 14px #000000;
    -webkit-box-shadow: inset 0 0 14px #000000;
    box-shadow:         inset 0 0 14px #000000;
    border: 1px solid #222121;
    border: 0px;
    border-radius: 6px;
    padding: 10px;
    direction: rtl;
    margin-left: 51px;
}

.email{

	margin-top: 50px;

}
.password{
	margin-top: 20px;
}
.myBtn{
    width: 300px;
    background-image: linear-gradient(180deg, #b32621, #871e19);
    border-radius: 6px;
    border: none;
    padding: 5px;
    font-weight: bold; 
    margin-top: 50px;
    margin-left: 50px;
    color: white;
    -moz-box-shadow:    -1px 1px 1px 1px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: -1px 1px 1px 1px rgba(0, 0, 0, 0.45);
    box-shadow:         -1px 1px 1px 1px rgba(0, 0, 0, 0.45);
}
