.container{
border: 14px;
}

.login{

width: 425px;
height:  288px;
border: 2px solid #000;
background-color: rgba(31,31,31,0.4);
margin-left: 33%; 
border-radius: 10px;
border: 1px solid #111

}

.email,.password{

width: 300px;
height: 40px;
color: #FFF;
background-color: #2b0707;
border: 1px solid #6d6b6b;
padding: 10px;
direction: rtl;
margin-left: 62.5px;

}

.email,.password{
	margin-top: 30px;
}

.active{
	font-size: 11px;	
}
 
.myBtn{

width: 300px;
height: 35px;
background-color: #F00;
border: none;
padding: 5px;
font-weight: bold; 
margin-top: 30px;
margin-left: 62.5px;;
color: white;
}