.container{
border: 14px;
}

.login{

width: 403px;
height:  288px;
border: 2px solid #000;
background-color: rgba(31,31,31,0.4);
margin-left: 33%; 
border-radius: 10px;
border: 1px solid #111

}

.email,.password{

width: 300px;
height: 40px;
color: #FFF;
background-color: #2b0707;
border: 1px solid #6d6b6b;
padding: 5px;
direction: rtl;
margin-left: 50px;

}

.email{

	margin-top: 70px;

}
.password{
	margin-top: 20px;
}
.myBtn{

width: 300px;
background-color: #F00;
border: none;
padding: 5px;
font-weight: bold; 
margin-top: 20px;
margin-left: 50px;;
color: white;


}
